div[class^="base-"] { margin-left: 55px; }

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] {width: 125px;}
div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] {width: 140px;}

div[class^="unreadMentionsIndicatorTop"] {width:125px;}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > div[class^="listItem-"] {
    margin-top: 0;
    width: 62px;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > div[class^="listItem-"]:first-child {
    position: relative;
    left: 0;
    margin: auto;
    margin-top: 15px;
    width: 125px;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > div[class^="listItem-"]:nth-child(2) {
    width: 130px;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > div[class^="listItem-"] > div[class^="guildSeparator-"] {
    position: relative;
    width: 100%;
    margin-top: 10px;
    width: 130px;
    margin-bottom: 10px;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > div[class^="friendsOnline-"] {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > div[aria-label^="Servers"] {
    width: 130px;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > div[class*=" selected-"]:before {
    display: none;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > div[aria-label^="Servers"] > div[class^="listItem-"] {
    position: relative;
    display: inline-block;
    width: 60px;
    margin-top: 0;
    padding-left: 5px;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > span[class^="dms-"] {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

div[class^="layer-"] > div[class^="container-"] > nav[class^="wrapper-"] > div[class^="scrollerWrap-"] > div[class^="scroller-"] > span[class^="dms-"] > span[class^="listItem-"] {
    left: 0;
}
